﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css", "~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav" id="MainMenu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Available Laptops", "List", "Laptops")</li>
                        }
                    
                            <li>
                                Admin
                                <ul>
                                    <li>@Html.ActionLink("Manufacturers", "Index", "ManufacturersAdministration")</li>
                                    <li>@Html.ActionLink("Laptops", "Index", "LaptopsAdministration")</li>
                                    <li>@Html.ActionLink("Comments", "Index", "CommentsAdministration")</li>
                                    <li>@Html.ActionLink("Add Laptop", "Create", "LaptopsAdministration")</li>
                                    
                                </ul>
                            </li>
                         
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Laptop System</h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $("#MainMenu").kendoMenu();
    </script>
</body>
</html>
